body {
    font-family: 'IBM Plex Serif', serif;
    font-family: 'Josefin Sans', sans-serif;
}

.alex-world-color {
    color: orangered;
}

.first-section-part {
    display: flex;
}

.first-part {
    width: 40%;
    margin-left: 80px;
}

.first-part img {
    width: 90%;
}

.welcome {
    border-left: solid tomato;
    padding-left: 10px;
    margin-left: 10px;
    font-size: 40px;
}

.button-color {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 30px;
    border-radius: 5px;
}

.mission {
    box-shadow: 10px 10px 30px gray;
    margin-left: 3%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 10px;
    width: 20%;
}

.mission img {
    width: 50%;
}

#mission1 {
    background-color: #cbf4fa;
    margin-left: 11%;
}

#mission2 {
    background-color: #FFEEEE;
    padding-top: 3%;
}

#mission3 {
    background-color: #FFF4D6;
}

.support img {
    width: 80%;
    border-right: solid orangered;
    padding-right: 8%;
}

.support {
    width: 80%;
}

#contact-us img {
    width: 40%;
    margin-left: 30%;
}

.support-text {
    font-size: 30px;
}

.contact-us {
    width: 30%;
    background-color: #FFEEEE;
    margin-left: 15%;
    padding-left: 3%;
    padding-top: 2%;
    border-radius: 50px;
}

#footer {
    background-color: black;
    color: rgb(255, 255, 255);
    padding-top: 20px;
    padding-bottom: 20px;
}

#footer-text-color {
    color: red;
}

.copyright {
    text-align: center;
    padding-top: 30px;
}